$white: #fff;
$black: #000;
$azul1: #1946bb;
$azul2: #4b73f0;
$naranja: #fc7700;
$amarillo: #ffaf17;
$verde: #bbce00;

.colorTable {
    border-collapse: collapse !important;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;;
  }
  
  .colorTable thead tr th  {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
    background-color: $azul1;
    color: $white;
  }
  
  .colorTable tbody tr td {
    background-color: #fff !important;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
  }
  
  .colorTable:hover {
    background-color: $white;
  }
  
  .colorTable:hover tbody td,
  .colorTable:hover tbody th {
    background-color: $amarillo;
  }
  
  @media (max-width: 991px) {
    .divTabla {
      display: block;
      width: 100%;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  }