$white: #fff;
$black: #000;
$azul1: #1946bb;
$azul2: #4b73f0;
$naranja: #fc7700;
$amarillo: #ffaf17;
$verde: #bbce00;

.divbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: $azul1;
  width: 100%;
}
.divbar > .container,
.divbar > .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.divResultados {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: rgb(235, 235, 230);
  border-radius: 0.3rem;
}
@media (min-width: 576px) {
  .divResultados {
    padding: 4rem 2rem;
  }
}

.colorTable {
    border-collapse: collapse !important;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;;
  }
  
  .colorTable thead tr th  {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
    background-color: $azul1;
    color: $white;
  }
  
  .colorTable tbody tr td {
    background-color: #fff ;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
  }
  
  // .colorTable:hover tbody tr td {
  //   background-color: $amarillo;
  // }

  .alert {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  .alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  .alert-warning hr {
    border-top-color: #ffe8a1;
  }

  .cart{
    position: absolute;
    right: 5%;
    top: 10%;
  }
  
  @media (max-width: 991px) {
    .divTabla {
      display: block;
      width: 100%;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  }