$white: #fff;
$black: #000;
$azul1: #1946bb;
$azul2: #4b73f0;
$naranja: #fc7700;
$amarillo: #ffaf17;
$verde: #bbce00;

#divInformacion {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border: 2px solid $azul2;
    border-radius: 10px;
  }