$white: #fff;
$black: #000;
$azul1: #1946bb;
$azul2: #4b73f0;
$naranja: #fc7700;
$amarillo: #ffaf17;
$verde: #bbce00;

#divHeader {
  position: relative;
  width: 100%;
  height:100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 3%;
}

#divInformacion {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  border: 2px solid $azul2;
  border-radius: 10px;
  margin-bottom: 3%;
}

.breadcrumb {
  margin-bottom: 1rem;
  list-style: none;
  background-color:  $white;
  border-radius: 0.25rem;
}
.breadcrumb::after {
  display: block;
  clear: both;
  content: "";
}
.breadcrumb-item {
  float: left;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #868e96;
  content: ">";
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}
.breadcrumb-item.active {
  color: #868e96;
}